<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>The Funhouse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>

  <header>
    <div class="menu-btn">
      <div class="menu-btn_burger">
      </div>
    </div>

    <nav>
        <ul class="nav-options hidden">
            <li><a href="1">Home</a></li>
            <li><a href="2">Booking</a></li>
            <li><a href="3">Testimonials</a></li>
        </ul>
    </nav>
  </header>

  <section class="main ease-in">
    <h1>Welcome to Richmond's premier music recording studio</h1>

    <div class='img-container'>
        <img id="full-logo" src="/assets/funhousesquarelogocropped.png">
    </div>

    <div class="video-wrapper">
        <iframe class="video-player" width="560" height="315" src="https://www.youtube.com/embed/B7QaT_-Wzow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <section class='services-banner'>
        <h2>Home Grown</h2>
    </section>

    <p>Born in the Lakeside neighborhood, The Funhouse&trade; has been producing high quality recordings for the better part of a decade.  The in-house audio engineers are here to help you bring your project to life.</p>


    <footer>

      <section class="social-media-wrapper">
        
        <!-- Google -->
        <a href="mailto:cwdgray@gmail.com" role="button"
          ><i class="fa fa-envelope fa-lg"></i
        ></a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/thefunhouserichmond/" role="button"
          ><i class="fab fa-instagram fa-lg"></i
        ></a>
  
        <!-- Twitter -->
        <a href="#" role="button"
          ><i class="fab fa-twitter fa-lg"></i
        ></a>
      </section>

  
      <!-- Copyright -->
      <div class="copyright-wrapper">
        <div class="funhouse-copyright">
        © The Funhouse
        </div>
        <div class="design">Design by:
          <a href="https://brianharsha.netlify.app/">Brian Harsha</a>
        </div>
      </div>

    </footer>
    
  </section>

    
    

    <script src='js/main.js'></script>
</body>
</html>
